<label for='{{key}}_value' class='title'>Split into</label>
<select name='[section][{{sectionIndex}}][elements][{{elementIndex}}][value]' id='{{key}}_value'>
    {% for index in range(1, 9) %}
    <option{% if element.split_sizes.length == index %} selected{% endif %}>{{index}}</option>
    {% endfor %}
</select>
hands
<div id='{{key}}_value_option_container'>
    <span>With a distribution of</span>
    <ul>
        {% for size in element.split_sizes %}
        <li>
            <select name='[section][{{sectionIndex}}][elements][{{elementIndex}}][hand_size][{{loop.index0}}]'>
                {% for index in range(1, 9) %}
                <option{% if size == index %} selected{% endif %}>{{index}}</option>
                {% endfor %}
            </select>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
$('#{{key}}_value').change(function () {
    didChangeHandSize('{{key}}', {{sectionIndex}}, {{elementIndex}});
});
{% if element.split_sizes.length == 0 %}
didChangeHandSize('{{key}}', {{sectionIndex}}, {{elementIndex}});
{% endif %}
</script>