<li id='{{element_id}}'>
    <input type='hidden' value='{{hand_value}}' name='{{element_key}}' />
    <span>{{text}}</span>
    <a href='#' class='delete' onclick="{{delete_call}}return false;">⊗</a>
</li>