Discard
<select name='[section][{{section_index}}][elements][{{element_index}}][scope]' id='{{key}}_value_config'>
    <option{% if element.card_count_range.magnitude > 0 %} selected{% endif %}>up to</option>
    <option{% if element.card_count_range.magnitude == 0 %} selected{% endif %}>exactly</option>
</select>

<select name='[section][{{section_index}}][elements][{{element_index}}][card_count]' id='{{key}}_value'>
    {% for index in range(1, 9) %}
    <option{% if element.card_count_range.max == index %} selected{% endif %}>{{index}}</option>
    {% endfor %}
</select>
cards;
<label for='{{key}}_option_then_draw'>then draw</label>
<input type='checkbox' name='[section][{{section_index}}][elements][{{element_index}}][then_draw]' id='{{key}}_option_then_draw'{% if element.then_draw %} checked {% endif %}/>
