{% set list_id = 'section' + section_index + 'element' + element_index + 'reveal_container' %}
{% set add_name = 'Add node' %}
{% set values = ['nodes'] %}
{% set elements = ['section_index', 'element_id'] %}
{% include 'partials/edit/generic/point_list.njk' %}