() => {
    var titleString = '{{element.card_count}} {% if element.is_face_up %}UP{% else %}DOWN{% endif %}';
    return cardPile({{element.is_face_up}}, {{element.card_count}}, 'I', titleString).pos(0, 0, LEFT, TOP, elementContainer);
},
