%span
  %a{ :href => "/edit/#{@name}" } Edit
.quickReference
  .name= @game.name
  .detail Blinds * Split Pot * 7 Players Max * <em>aka “Draw2maha”</em>
  .structure
    %canvas{ :width => '600', :height => '300' }
    
%script{ :src => '/configs.js' }
%script{:type => "text/javascript"}
  #{@game.render_canvas}
  