{% extends 'layouts/main.njk' %}
{% block header %}
<span class='light'><a href='/edit/{{game.sanitized_name}}'>Edit</a></span>
{% endblock %}
{% block body %}
<script type='text/javascript'>
{% include 'partials/canvas/game.njk' %}
</script>
{% endblock %}