{% extends 'layouts/main.njk' %}
{% block body %}
<span><a href='/edit/{{game.sanitized_name}}'>Edit</a></span>
<span>Loaded from file: {{game.file}}</span>
<script type='text/javascript'>
{% include 'partials/canvas/game.njk' %}
</script>
{% endblock %}