{% extends 'layouts/main.njk' %}
{% block body %}
<a href='/create'>New Game</a>
<ol>
{% for entry in entries %}
    <li><a href='{{entry.link}}'>{{entry.name}}</a></li>
{% endfor %}
</ol>
{% endblock %}