%label{ :for => "#{key}_value", :class => 'title' } Discard hands
%select{ :name => 'section[][elements][][value]', :id => "#{key}_value" }
  - (1..10).each do |i|
    %option{ :selected => element.hand_count == i }= i